<form accept-charset="UTF-8" action="/users" method="post" >

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <input placeholder='user name' name='username' />
  <input placeholder='email' name='email' />
  <input placeholder='password' name='password' type='password' />
  <button>Submit</button>
</form>